# Ambientes virtuais
venv/
.venv/
env/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Jupyter Notebooks checkpoints e temporários
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Configurações locais e segredos
.env
.env.*

# IDEs
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db
